html{
    background-color: rgb(195, 46, 46);
}
#header{
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    font-size: calc(50px);
    text-align: center;
    position: relative;
    top: 75px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.btn-happy{
    background-color: rgb(169, 23, 23);
    outline: none;
    height: 100px;
    width: 300px;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 900;
    transform: transform 5s;
    border: 1px rgb(169, 23, 23) solid;
    color: white;
    position: relative;
    animation: moveUpDown 5s infinite alternate;
}
.btn-happy:hover{
    background-color: rgb(169, 23, 23);
    cursor: pointer;
    color: #000;
}
@keyframes moveUpDown{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(100px);
    }
}
#img-dragon{
    margin-top: -20%;
    width: 300px;
    margin-left: 40px;
}
#img-flower1{
    position: absolute;
    top: -1%;
    left: 76%;
    width: 300px;
}
#img-flower6{
    position: absolute;
    top: -1%;
    left: -1%;
    width: 500px;
}
#goldbar{
    width: 200px;
    margin-left: -30%;
    margin-top: 2px;
}
#goldbar2{
    width: 200px;
}
#goldbar3{
    width: 170px;
    margin-left: -23%;
    position: relative;
    top: 20px;
}
#treeluckymoney{
    width: 400px;
    margin-top: -28%;
    margin-left: 45%;
    animation: tilt1 3s infinite alternate; 
}
@keyframes tilt1 {
    0% {
      transform: rotate(5deg); /* Nghiêng hình ảnh sang trái 5 độ */
    }
    100% {
      transform: rotate(-5deg); /* Nghiêng hình ảnh sang phải 5 độ */
    }
  }
#luckeymoney1{
    width: 200px;
    margin-top: -36%;
    margin-left: 65%;
    animation: tilt2 2s infinite alternate
}
@keyframes tilt2 {
    0% {
      transform: translateY(0px); /* Nghiêng hình ảnh sang trái 5 độ */
    }
    100% {
      transform: translateY(10px); /* Nghiêng hình ảnh sang phải 5 độ */
    }
  }
#luckeymoney2{
    width: 200px;
    margin-left: 80%;
    margin-top: -35%;
    animation: tilt 3s infinite alternate; 
}
@keyframes tilt {
    0% {
      transform: rotate(-10deg); /* Nghiêng hình ảnh sang trái 5 độ */
    }
    100% {
      transform: rotate(10deg); /* Nghiêng hình ảnh sang phải 5 độ */
    }
  }
#couple{
  width: 200px;
  position: absolute;
  left: 600px;
  top: -2px;
}
@-webkit-keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @-webkit-keyframes snowflakes-shake {
    0%,100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50% {-webkit-transform:translateX(80px);transform:translateX(80px)}
  }
  @keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @keyframes snowflakes-shake {
    0%,100%{ transform:translateX(0)}
    50% {transform:translateX(80px)}
  }
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running;
  }
  .snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
  }
  .snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
  }
  .snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
  }
  .snowflake:nth-of-type(3){
    left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
  }
  .snowflake:nth-of-type(4){
    left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
  }
  .snowflake:nth-of-type(5){
    left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
  }
  .snowflake:nth-of-type(6){
    left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
  }
  .snowflake:nth-of-type(7){
    left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
  }
  .snowflake:nth-of-type(8){
    left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
  }
  .snowflake:nth-of-type(9){
    left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
  }
  .snowflake:nth-of-type(10){
    left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s
  }
  .snowflake:nth-of-type(11){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }
